
* {
	font-family: Roboto, serif;
}

.container {
	margin: 20px 0;
	text-align: center;
	max-height: 100vh;
}

@font-face {
	font-family: Roboto;
	font-weight: 300;
	src: local("src/assets/fonts/Roboto/Roboto-Regular.ttf");
}
